*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px red solid; */
}

.app{
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search{
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

/* .list{
  list-style: none;
  text-align: center;
}

.listItem{
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
} */

table{
  width: 100%;
  margin: 50px 0px;
  border-spacing: 15px;
  color: #444;
}

tr{
  margin-bottom: 20px;
}

th{
  width: 250px;
  text-align: center;
  font-size: 20px;
}

td{
  width: 250px;
  font-size: 20px;
  text-align: center;
}
