@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /* border: .1rem solid red; */
}

:root {
    --lead: #212121;
    --gold-finger: #F2BD12;
    --eye-ball: #FFFDF7;
    --hint-yellow: #FCF1CC;
    --pure-white: #FFF;
}

body {
    background: var(--eye-ball);
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

h1{
    font-size: 5.6vw;
    color: var(--lead)
}

h1 span{
    color: var(--gold-finger);
}

p{
    font-size: 1.25rem;
    line-height: 1.8rem;
    color: gray;
    font-weight: 400;
}

/* BASIC STYLING */
a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}

.p-top{
    padding-top: 10rem;
}

.text-center{
    text-align: center;
}

h5{
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: var(--gold-finger);
    text-transform: uppercase;
}

h2{
    font-size: 3.7rem;
    text-transform: capitalize;
    color: var(--lead);
}

h3{
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--lead);
}

.mt-4{
    margin-top: 4rem;
}

.mt-half{
    margin-top: .5rem;
}

h4{
    font-size: 1.8rem;
    color: var(--lead);
}

.m-auto{
    margin: auto;
}

.mt-one-half{
    margin-top: 1.5rem;
}


/* HEADER STYLING */
.navbar {
    min-height: 14vh;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
}

.flex {
    display: flex;
    align-items: center;
}

.between{
    justify-content: space-between;
}

.j-center{
    justify-content: center;
}

.f-column{
    flex-direction: column;
}

.gap-3 {
    gap: 3rem;
}

.navlist li {
    list-style: none;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);

}

.btn {
    display: inline-block;
    padding: 0.9rem 2rem;
    background-color: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: (0 2px 1px rgba(0, 0, 0, 0.1));
    transition: .3s ease-in-out;
}

.btn:hover {
    background: var(--lead);
}

.gap-2 {
    gap: 2rem;
}

.cart-icon {
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value {
    position: absolute;
    top: 50%;
    right: -10px;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--gold-finger);
    color: var(--lead);
    text-align: center;
    line-height: 20px;
}

.desktop-action .hamburg {
    font-size: 1.5rem;
    display: none;
}

.mobile-menu {
    display: none;
    list-style: none;
}

/* SECTIONS STYLING */

/* hero section 1 */

.hero-section {
    min-height: calc(100vh -14vh);
}

.content, .image-container, .service-card{
    flex: 1;
    flex-basis: 300px;
    min-width: 0;
}

/* .image-container{
    overflow: hidden;
} */

.para{
   margin-block: 2rem; 
   max-width: 550px;
   text-align: start;
}

.social-icon{
    background: var(--hint-yellow);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    transition: .3s ease-in-out;
}

.social-icon:hover{
    background: var(--lead);
    color: var(--pure-white);
}

/* section 1 */
.service-card h3{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

/* section 2 */

.card-list{
    flex-wrap: wrap;
}

.order-card{
    flex: 1;
    flex-basis: 300px;
    padding: 0 1rem 2rem 1rem;
    background-color: var(--pure-white);
    border: .1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05),
                8px 8px 8px rgba(0, 0, 0, 0.05) inset;
}
.order-card img{
    width: 15rem;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 10px 10px);
}

.order-card .price{
    font-size: 1.7rem;
    color: var(--gold-finger);
    padding: 1.3rem 0 2rem 0;
}

/* cart tab styling */
.cart-tab{
    background: var(--hint-yellow);
    position: fixed;
    inset: 0 -500px 0 auto;
    width: 25rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    box-shadow: rgba(0, 0, 0 , 0.1 ) -10px -10px 20px;
    transition: .3s ease-in-out;
}

.cart-tab-active{
    inset: 0 0 0 auto;
}

.cart-list{
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1.5rem;
    overflow: auto;
    scrollbar-width: 0;
}

.total-container{
    width: 100%;
    background: var(--gold-finger);
    text-align: center;
    margin-block: 1rem;
    padding-block: 1rem;
}

.total-container h4{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
}

.btn-container .btn{
    background: var(--lead);
    transition: .3s ease-in-out;
}

.btn-container .btn:hover{
    background: var(--gold-finger);
    color: var(--lead);
}

.item{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 1.5rem;
    padding: 0.7rem 1rem;
    transition:all 0.5s ease-in-out;
}

.item.slide-out{
    transform:translateX(50%);
}

.cart-list .item:nth-child(even){
    background: var(--eye-ball);
}

.item .item-image img{
    width: 5rem;
}

.item h4{
    font-size: 1.3rem;;
}

.item .item-total{
    font-weight: 400;
    margin-top: .3rem;
}

.quantity-btn{
    background-color: var(--lead);
    color: var(--pure-white);
    width: 1.7rem;
    aspect-ratio: 1;
    border-radius:100vw;
    text-align: center;
    line-height: 1.7rem;
}

.quantity-value{
    font-size: 1.2rem;
    font-weight: 400;
    margin-inline: 0.6rem;
}

.cart-list::-webkit-scrollbar{
    display: none;
}


/* section 3 */

.review-section{
    flex-wrap: nowrap;
    justify-content: center;
}

.review-container{
 flex: 1;
 width: 100%;
 max-width: 600px;
 min-width: 0;
}

.profile{
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.profile img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.fa-star{
    color: var(--gold-finger);
}


.swiper {
      width: 100%;
      height: 100%;
      max-width: 600;
      overflow: hidden;
    }

.arrow{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold-finger);
    color: var(--lead);
    line-height: 2.5rem;
}

/* section 4 */
.app-container{
    background: var(--hint-yellow);
    padding: 3rem 6rem;
    border-radius: 3rem;
}

.app-image img{
    width: 25rem;
}

.app-container h2{
    font-size: 4.5rem;
}

/* section 5 */
.input-container{
    width: 43rem;
    max-width: 100%;
    background: var(--pure-white);
    padding: .8rem;
    box-shadow:rgba(0,0, 0, 0.1) 0 5px 8px;
    border-radius: 1rem;
    margin: 4rem auto 0 auto;
}

input[type="email"]{
    flex: 1;
    height: 3vh;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    padding-left: 1rem;
}

input[type="email"]{
   outline: none;

}

input[type = "email"]:focus{
    outline: none;
}

/* FOOTER STYLING */
.footer-container{
    margin-top: 10rem;
    padding-block: 4rem;
    background: var(--hint-yellow)
}

.footer-container .flex{
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-wrapper{
    flex: 1;
    flex-basis: 150px;
}

.footer-wrapper:nth-child(1){
   flex: 2;
   flex-basis: 300px;
}

.footer-wrapper .social-icon{
    background-color: var(--pure-white);
}

.footer-wrapper .social-icon:hover{
    background-color: var(--lead);
    color: var(--pure-white);
}

.footer-container ul li{
    list-style: none;
}

.footer-link{
    color: gray;
    font-size: 1.1rem;
    transition: .3s ease-in-out;
}

.footer-link:hover{
    color: black;
}


/* MEDIA QUERY */
@media screen and (max-width: 780px) {

    /* header styling */
    .navlist,
    .desktop-action .btn {
        display: none;
    }

    .desktop-action .hamburg {
        display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: -100%;
        transform: translateX(-50%);
        width: 20rem;
        background: var(--pure-white);
        border: .1rem solid var(--gold-finger);
        border-radius: 2rem;
        padding: 2rem;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05), 8px 8px 8px rgba(0, 0, 0, 0.05) inset;
        transition: all .5s ease-in-out;
    }

    .mobile-menu-active {
        left: 50%;
        top: 14vh;
        transform: translatex(-50%);
    }

    /* section styling */

    /* hero-styling */
    h1{
        font-size: 3.6rem;
    }

    .content{
        padding-top: 3rem;
    }

    .hero-section{
        flex-wrap: wrap;
    }

    .gap-2{
        gap:1.4rem;
    }

    .gap-4{
        gap:4rem;
    }

    /* section 1 */
    .service-cards{
        flex-direction: column;
    }
    
    h2{
        font-size: 3rem;
    }

    .review-section{
        flex-wrap: wrap;
    }

    /* section 4 */

   .app-container{
     padding: 2.2rem;
     flex-direction: column;
   }

   .app-content{
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .app-container .app-imag img{
           width: 25rem;
   }

   .app-content h2{
    font-size: 3.5rem;
   }
   
}