*{
    padding: 0;
    margin: 0;
    /* border: 0.1px solid red; */
     
}

/* Navbar */

.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    background-color: #fff;
    border-radius: 10px;
}

/* Header */

.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
}

.headerListItem{
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc{
  margin: 20px 0px;
}

.headerBtn{
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -28px;
    width: 100%;
    max-width: 1024px;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.headerIcon{
    color: lightgray;

}

.headerSearchText{
    color:lightgray;
}

.headerSeachInput{
    border: none;
    outline: none;
}

.date{
    position: absolute;
    top: 33px;
     left:-95px;
}