* {
    padding: 0;
    margin: 0;
    /* border: 0.1px solid red; */

}

/* Navbar */

.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    background-color: #fff;
    border-radius: 10px;
}

/* Header */

.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
    margin: 20px 0px 20px 0px;

}

.headerList {
    display: flex;
    gap: 40px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc {
    margin: 20px 0px;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.headerSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -28px;
    width: 100%;
    max-width: 1024px;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.headerIcon {
    color: lightgray;

}

.headerSearchText {
    color: lightgray;
}

.headerSeachInput {
    border: none;
    outline: none;
}

.date {
    position: absolute;
    top: 33px;
    left: -80px;
}

.headerSearchItem {
    position: relative;
}

.options {
    position: absolute;
    top: 41px;
    left: 10px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

/* HomeContainer */

.homeContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featuredItem {
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.featuredImg {
    width: 230.36px;
    aspect-ratio: 1;
    object-fit: cover;
}

.featuredTitles {
    position: absolute;
    top: 150px;
    left: 10px;
}

.featuredTitles h1 {
    font-size: 20px;
    font-weight: 600;
}

.featuredTitles h2 {
    font-size: 16px;

}

.homeTitle {
    width: 1024px;
    font-size: 20px;
}

/* property list */
.pList {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pListItem {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.pListImg {
    width: 100%;
    height: 150px;
    aspect-ratio: 1;
    object-fit: cover;
}

.pListTitles>h1 {
    font-size: 18px;
}

.pListTitles>h2 {
    font-size: 14px;
    font-weight: 300;
}

/* featured properties */

.fp {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.fpItem {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.fpImg {
    width: 100%;
    aspect-ratio: 1;
}

.fpName {
    font-weight: bold;
}

.fpCity {
    font-weight: 300;
}

.fpPrice {
    font-weight: 550;
}

.fpRating {
    display: flex;
    align-items: center;
}

.fpRating>button {
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.fpRating>span {
    font-size: 14px;
}

/* mail list */

.mail {
    width: 100%;
    margin-top: 50px;
    background-color: #003580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.mailInputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mailInputContainer>input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.mailInputContainer>button {
    height: 50px;
    padding: 10px 15px;
    border: none;
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}


/* footer */
.footer {
    width: 100%;
    width: 1024px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.fLists {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 100px;
    margin-bottom: 50px;
}

.fList {
    list-style: none;
    padding: 0;
}

.fListItem {
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
}

.fText {
    text-align: center;
    margin-bottom: 20px;
}

/* list */
.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch {
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.lsTitle {
    font-size: 20px;
    color: #555;
    margin-bottom: 5px;
}

.lsItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem>label {
    font-size: 12px;
    font-weight: 550;
    margin-bottom: 5px;
}

.lsItem>input {
    height: 30px;
    border: none;
    outline: none;
    padding: 5px;
}

.lsItem>span {
    height: 30px;
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lsOptionItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
}

.lsOptionInput {
    width: 50px;
    text-align: center;
}

.listSearch>button {
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.listResult {
    flex: 3;
}

.searchItem {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.siImg {
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
}

.siDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.siTitle {
    font-size: 20px;
    color: #0071c2;
}

.siDistance {
    font-size: 12px;
    ;
}

.siTaxiOp {
    font-size: 12px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
}

.siSubtitle {
    font-size: 12px;
    font-weight: bold;
}

.siFeatures {
    font-size: 12px;
}

.siCancelOp {
    font-size: 12px;
    color: #008009;
    font-weight: bold;
}

.siCancelOpSubtitle {
    font-size: 12px;
    color: #008009;
}

.siDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.siRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.siRating>span {
    font-weight: 500;
}

.siRating>button {
    background-color: #003580;
    color: white;
    padding: 5px;
    font-weight: bold;
    border: none;
}

.siDetailTexts {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.siPrice {
    font-size: 24px;
    font-weight: 600;
}

.siTaxOp {
    font-size: 12px;
    color: gray;
}

.siCheckButton {
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Hotel */
.hotelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.hotelWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.bookNow {
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: #0071c2;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.hotelTittle {
    font-size: 24px;
}

.hotelAddress {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hotelDistance {
    color: #0071c2;
    font-weight: 500;
}

.hotelPriceHighlight {
    color: #008009;
    font-weight: 500;
}

.hotelImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotelImgWrapper {
    width: 33%;
}

.hotelImg {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.hotelDetails {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.hotelDetailsTexts {
    flex: 3;
}

.hotelDesc {
    font-size: 14px;
    margin-top: 20px;
}

.hotelDetailsPrice {
    flex: 1;
    background-color: #ebf3ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hotelDetailsPrice>h1 {
    font-size: 18px;
    color: #555;
}


.hotelDetailsPrice>span {
    font-size: 14px;
}

.hotelDetailsPrice>h2 {
    font-weight: 300;
}

.hotelDetailsPrice>h2 b {
    font-weight: 600;
}

.hotelDetailsPrice>button {
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: #0071c2;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.slider {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.426);
    z-index: 10;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.sliderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderImg {
    width: 80%;
    height: 80vh;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
}

.arrow {
    margin: 20px;
    font-size: 50px;
    color: lightgray;
    cursor: pointer;
}