@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(240, 239, 243);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: 100px;
}

.container {
    width: 50vw;
    height: 50vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 4px 4px 30px rgba(0,0,0, 0.06);
    padding: 20px;
    overflow-y: auto;
}

.container::-webkit-scrollbar{
    display: none;
}

.container form{
   width: 100%;
   position: sticky;
   top: 0;
   margin-bottom: 15px;
   border: 2px solid rgb(9, 9, 24);
   box-shadow: 0 2px 3px (0, 0, 0, 0.5);
   border-radius: 4px;
   padding: 8px 6px;
   display: flex;
   align-items: center;
   gap: 10px;
   z-index: 100;
   background: #fff;
}


.container i {
    border: none;
}

.container form input{
    flex: 1;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 600;
}



.product{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    margin-bottom: 15px;
}

.product img{
    width: 70px;
    aspect-ratio: 1;
    object-fit: contain;
}

.product .p-details h2{
    font-size: 20px;
    color: #1d1d1d;
}

.product .p-details h3{
    font-size: 18px;
}

.no-match{
    color: red;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1;
}
